* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url(../font/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: "KumbhSans";
  src: url(../font/KumbhSans-VariableFont_YOPQ\,wght.ttf);
}
body {
  font-family: "Inter", sans-serif;
  background-color: #141414;
  width: 100%;
}

p {
  font-size: 20px;
  color: #666666;
}

h1 {
  font-size: 70px;
  color: white;
  font-weight: 500;
}

h2 {
  font-size: 55px;
  color: white;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  color: white;
}

h4 {
  font-size: 30px;
  color: white;
}

h5 {
  font-size: 23px;
  color: #666666;
  font-weight: 500;
}

h6 {
  font-size: 17px;
  color: white;
  font-weight: 500;
}

span {
  color: #FFD11A;
}

header {
  width: 100%;
  height: 10vh;
  background-color: #1A1A1A;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header button {
  padding: 17px;
  background-color: #1A1A1A;
  border: 1px #1A1A1A solid;
  border-radius: 10px;
}
header .buthed {
  background-color: #FFD11A;
  border: 1px #262626 solid;
}
header .buthed a {
  color: #1A1A1A;
}
header .selbut {
  background-color: #141414;
  border: 1px #262626 solid;
}
header .logo {
  width: 12vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  color: white;
}

.section_header3 {
  background-color: #1A1A1A;
  padding: 4vw;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section_header3 .lefthead3 div {
  background-color: #333333;
  width: 30%;
  padding: 1vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_header3 .righthead3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  padding: 1%;
  border-radius: 10px;
  width: 15%;
  cursor: pointer;
}

.section3 {
  width: 100%;
  height: 120%;
  display: flex;
  flex-direction: column;
}
.section3 .filter3 {
  width: 100%;
  padding: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section3 .filter3 div {
  width: 14%;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #262626 1px solid;
  border-radius: 10px;
}
.section3 .filter3 div:first-child {
  background-color: #1A1A1A;
}
.section3 .filter3 div:first-child p {
  color: white;
}
.section3 .comment3 {
  width: 100%;
  height: 30%;
  padding: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section3 .comment3 .human3 {
  display: flex;
  flex-direction: row;
  width: 20%;
}
.section3 .comment3 .human3 img {
  width: 4vw;
  height: 4vw;
}
.section3 .comment3 .human3 div {
  padding: 1vw;
}
.section3 .comment3 .center3 {
  width: 80%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section3 .comment3 .center3 .center_button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section3 .comment3 .center3 .center_button .righthead3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: #262626 1px solid;
  padding: 1%;
  border-radius: 10px;
  width: 15%;
  cursor: pointer;
}
.section3 .comment3 .center3 .comments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
}
.section3 .comment3 .center3 .comments div {
  display: flex;
}

.section6 {
  width: 100%;
  height: 70vh;
  background-color: #1A1A1A;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.section6 .top_container6 {
  width: 100%;
  padding: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section6 .top_container6 img {
  width: 8%;
}
.section6 .top_container6 .top_cont6 {
  width: 89%;
}
.section6 .top_container6 .top_cont6 .head6 {
  background-color: #262626;
  width: 20%;
  padding: 1%;
}
.section6 .bot_container6 {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  padding: 1.5vw;
  border-radius: 10px;
  border: #262626 1px solid;
}
.section6 .bot_container6 .cells6 {
  width: 32%;
  height: 22vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1A1A1A;
  padding: 2vw;
  border-radius: 10px;
  border: #262626 1px solid;
}
.section6 .bot_container6 .cells6 .topi6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: #141414;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-cols {
  width: 90%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
}
footer .footer-cols .footer-col {
  padding: 3%;
}
footer .footer-cols .footer-col ul {
  height: 80%;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  color: #141414;
}
footer .footer-cols .footer-col ul li a {
  text-decoration: none;
  color: #666666;
}
footer .footer-cols .footer-col ul li .badge-new {
  color: white;
}
footer .footer-cols .footer-col:last-child {
  width: 23%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-cols .footer-col:last-child div {
  display: flex;
  padding: 6%;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  border: #262626 1px solid;
  border-radius: 10px;
}
footer .footer_line {
  background-color: #262626;
  height: 1px;
  width: 90%;
}
footer .footer_bot {
  width: 90%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_bot .footer_social {
  width: 10%;
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=screen2.css.map */